/* Dark mode switcher */

[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
  }
  
  [data-theme="dark"] .bg-black {
    background-color: #fff !important;
  }
  
  [data-theme="dark"] .bg-dark {
    background-color: #eee !important;
  }
  
  [data-theme="dark"] .bg-light {
    background-color: #222 !important;
  }
  
  [data-theme="dark"] .bg-white {
    background-color: #000 !important;
  }


/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');

:root {
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
}

body {
  font-family: var(--md-ref-typeface-brand), saserif;
}

/* Material icon symbols */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Default styles for the content pane */
.pane.content-pane {
  background: #fef7ff;
  border: 1px solid #fef7ff;
  border-radius: 15px;
  padding: 20px 20px 20px 20px; /* Add padding to all sides */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 1100px;
  margin: 10 auto; /* Center horizontally on larger screens */
}

/* Style for the scrollable content wrapper */
.scroll-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

/* Style for the content within the pane */
.content {
  /* You can style the content within the pane here */
}

/* Define styles for the app-content slot content (if needed) */
slot[name="app-content"] {
  /* Styles for content placed inside the "app-content" slot */
}

/* Media Query for smaller screens (e.g., phones) */
@media (max-width: 768px) {
  .pane.content-pane {
    padding: 40px 20px 20px 20px; /* Add top padding, reduce side padding for smaller screens */
    max-width: 100%; /* Full width for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally and vertically on smaller screens */
  }
}
